[package]
name = "niri-burst-consume"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
niri-ipc = "25.11.0"
serde_json = "1.0.145"
tokio = { version = "1.48.0", features = ["full", "net"] }
tokio-stream = "0.1.17"
